<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozidev.newskeeper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".NewsKeeper"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.article_details.ArticleDetailsActivity"
            android:parentActivityName=".presentation.articles.ArticlesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.articles.ArticlesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.categories.CategoriesListActivity"
            android:parentActivityName=".presentation.articles.ArticlesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.publisher_details.PublisherDetailsActivity"
            android:parentActivityName=".presentation.publishers.PublishersListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.settings.SettingsActivity"
            android:parentActivityName=".presentation.articles.ArticlesListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.publishers.PublishersListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f79a8ea84abe5eac05e02f4bb65e3a858e395f3b" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.mozidev.newskeeper" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name=".domain.common.gcm.GCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".domain.common.gcm.AppInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".domain.common.gcm.RegistrationIntentService"
            android:exported="false"/>

    </application>

</manifest>
